<h1> Librerias Necesarias </h1>

In [1787]:
import pandas as pd
import numpy as np
import glob
from sklearn.preprocessing import OrdinalEncoder
import matplotlib.pyplot as plt 
import pickle

import os

<h1> Base de datos DANIEL-SAN </h1>

<h3> 1. Lectura de los datos </h3>

In [1788]:
df_aguacate = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Aguacate.xlsx')
df_banano = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Banano.xlsx')
df_fresa = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Fresa.xlsx')
df_limon = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Limon.xlsx')
df_mango = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Mango.xlsx')
df_manzana = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Manzana.xlsx')
df_pera = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Pera.xlsx')
df_tomate = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Tomate.xlsx')
df_uchuva = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Uchuva.xlsx')
df_uva = pd.read_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance2/frutas/Uva.xlsx')

In [1789]:
df_frutas =  pd.DataFrame(columns=['index', 'clase', 'azul', 'verde', 'rojo', 'area', 'ratio', 'textura','perimetro'])
df_frutas = pd.concat([df_frutas,df_aguacate],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_banano],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_fresa],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_limon],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_mango],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_manzana],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_pera],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_tomate],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_uchuva],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_uva],ignore_index=True)
df_frutas.drop(columns='index',inplace=True)
df_frutas.to_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance3/FrutasDataset_Completo.xlsx') # Save DataFrame in xlsx
pickle.dump(df_frutas, open('Frutas_Dataset_Completo.pkl', 'wb'))

<h3> 2. Limpieza de la base de datos </h3>

In [1790]:
df_aguacate.drop(columns='Unnamed: 0',inplace=True)
df_banano.drop(columns='Unnamed: 0',inplace=True)
df_fresa.drop(columns='Unnamed: 0',inplace=True)
df_limon.drop(columns='Unnamed: 0',inplace=True)
df_mango.drop(columns='Unnamed: 0',inplace=True)
df_manzana.drop(columns='Unnamed: 0',inplace=True)
df_pera.drop(columns='Unnamed: 0',inplace=True)
df_tomate.drop(columns='Unnamed: 0',inplace=True)
df_uchuva.drop(columns='Unnamed: 0',inplace=True)
df_uva.drop(columns='Unnamed: 0',inplace=True)

In [1791]:
def concatenation(lista,value):
    a = []
    for i in range(len(lista)):
        b = lista[i]
        for j in lista:
            if 0 < (b-j) <= value:
                if i not in a:
                    a.append(i)
    return a

In [1792]:
def eliminar(df,value):
    azul = df.azul.to_list()
    verde = df.verde.to_list()
    rojo = df.rojo.to_list()
    a = concatenation(azul,value)
    v = concatenation(verde,value)
    r = concatenation(rojo,value)
    indices = list(set(a) & set(v) & set(r))
    return indices

In [1793]:
df = [df_aguacate, df_banano, df_fresa, df_limon, df_mango, df_manzana, df_pera, df_tomate, df_uchuva, df_uva]
df_aguacate = df_aguacate.drop(df_aguacate.index[eliminar(df_aguacate,0.00029)])
df_banano = df_banano.drop(df_banano.index[eliminar(df_banano,0.00094)])
df_fresa = df_fresa.drop(df_fresa.index[eliminar(df_fresa,0.0008435)])
df_limon = df_limon.drop(df_limon.index[eliminar(df_limon,0.00073)])
df_mango = df_mango.drop(df_mango.index[eliminar(df_mango,0.000869)])
df_manzana = df_manzana.drop(df_manzana.index[eliminar(df_manzana,0.0007472)])
df_pera = df_pera.drop(df_pera.index[eliminar(df_pera,0.00048)])
df_tomate = df_tomate.drop(df_tomate.index[eliminar(df_tomate,0.00054)])
df_uchuva = df_uchuva.drop(df_uchuva.index[eliminar(df_uchuva,0.000696)])
df_uva = df_uva.drop(df_uva.index[eliminar(df_uva,0.00042)])

In [1794]:
print(f'aguacate: {len(df_aguacate)}')
print(f'banano: {len(df_banano)}')
print(f'fresa: {len(df_fresa)}')
print(f'limon: {len(df_limon)}')
print(f'mango: {len(df_mango)}')
print(f'manzana: {len(df_manzana)}')
print(f'pera: {len(df_pera)}')
print(f'tomate: {len(df_tomate)}')
print(f'uchuva: {len(df_uchuva)}')
print(f'uva: {len(df_uva)}')

aguacate: 190
banano: 186
fresa: 180
limon: 210
mango: 186
manzana: 181
pera: 203
tomate: 197
uchuva: 194
uva: 170

## Union Dataframes

In [1795]:
df_frutas =  pd.DataFrame(columns=['index', 'clase', 'azul', 'verde', 'rojo', 'area', 'ratio', 'textura','perimetro'])
df_frutas = pd.concat([df_frutas,df_aguacate],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_banano],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_fresa],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_limon],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_mango],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_manzana],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_pera],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_tomate],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_uchuva],ignore_index=True)
df_frutas = pd.concat([df_frutas,df_uva],ignore_index=True)
df_frutas.drop(columns='index',inplace=True)
df_frutas

,clase,azul,verde,rojo,area,ratio,textura,perimetro
0,0,0.092303,0.118585,0.219326,0.082703,0.871030,0.179955,271.065
1,0,0.090386,0.146211,0.186718,0.081070,0.893692,0.212410,269.025
2,0,0.103015,0.121969,0.244716,0.082030,0.786250,0.182013,272.595
3,0,0.088659,0.125691,0.234912,0.070345,0.826624,0.198149,253.215
4,0,0.093087,0.220885,0.265756,0.077725,0.802310,0.234382,262.140
...,...,...,...,...,...,...,...,...
1892,9,0.112687,0.109508,0.246779,0.008745,0.838123,0.190470,87.210
1893,9,0.105262,0.112740,0.308026,0.010388,0.927887,0.237936,67.320
1894,9,0.105370,0.100131,0.218052,0.006075,0.855872,0.243079,46.155
1895,9,0.203139,0.373066,0.581222,0.006059,0.965826,0.291010,79.815
1896,9,0.069751,0.070622,0.248084,0.011018,0.954223,0.162202,0.000

In [1796]:
df_frutas.to_excel('/home/sistemic/Documents/12vo_Semestre/FundamentosIC/Avance3/FrutasDataset.xlsx') # Save DataFrame in xlsx
pickle.dump(df_frutas, open('Frutas_Dataset.pkl', 'wb'))